

head{
    background-color: hsl(30, 54%, 80%);
}


/*.img{
    justify-content:  center;
    align-items: center;
 }
 */
 .container{
    width: 50%;
    text-align: left;
    justify-content: center;
    border-radius: 3;
    
 }



#img-1{
justify-content: center;
width: 50%;
}

.tittle{
    text-align: left;
    
    font-family: [Young Serif];
    color: hsl(332, 51%, 32%);
    
 }

 .prepration{
color: hsl(14, 45%, 36%);

 }

 .p1 {
    font-size: 16px;
 }
 .ingre{
    color: hsl(14, 45%, 36%);
 }
 .inst{
    color:hsl(14, 45%, 36%) ;
 }
 .nut{
    color:hsl(14, 45%, 36%) ;
 }
 span{
    font-weight: 400;
 }
 table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8x;
    text-align: left;
    border-bottom: 10px solid hsl(30, 10%, 34%);
  }
  .me{
    color: hsl(14, 45%,15);
  }
  .end{
    margin: auto;

  }

  @media screen and (max-width:320) and(min-width:375px)
   {
     .container{
        width: 50%;
     }
  }
  @media screen and (max-width:375) and(min-width:1440px){
 .container{
    width: 100%;
 }
  }