


/*.img{
    justify-content:  center;
    align-items: center;
 }
 */
 @font-face {
   font-family: "Young Serif";
   src: url('../fonts/young-serif/YoungSerif-Regular.ttf');
}
 .home{
   background-color: hsl(30, 54%, 80%);
   font-family: "Young Serif";
   font-weight: 100;
   font-size: 1vw;
 }

 .container{
    justify-content: center;
    align-items: centre;
    text-align: left;
    border-radius: 3;
    font-family: "Young Serif" !important;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
  width: 50%;
  border: 1px;
  padding: 10px;
  border-radius: 25px;
 }

.sec-2{
   background-color:hsl(30, 54%, 90%);
   border: 1px;
   padding: 10px;
   border-radius: 25px;
   color:hsl(30, 10%, 34%) ;
}
.le{
   color: hsl(24, 5%, 18%);
}
#img-1{
justify-content: center;
width: 100%;
border: 1px;
padding: 10px;
border-radius: 25px;

}

.tittle{
    text-align: left;
    color: hsl(24, 5%, 18%);
 }

 .prepration{
color: hsl(14, 45%, 36%);

 }

 .p1 {
    font-size: 16px;
     color:hsl(30, 10%, 34%);
 }
 h4{
   color: hsl(332, 51%, 32%);
 }
 .ingre{
    color: hsl(14, 45%, 36%);
 }
 .sec-3{
   color:hsl(30, 10%, 34%) ;
 }
 .sec-4{
   color:hsl(14, 45%, 36%) ;
 }
 .p-4{
   color:hsl(30, 10%, 34%) ;
 }
 .ins1{
   color: hsl(24, 5%, 18%);
 }
   
 .nut{
    color:hsl(14, 45%, 36%) ;
 }
 span{
    font-weight: 400;
 }
 .sect-5{
  color:hsl(30, 10%, 34%) ;
}
.td-1{
   color:hsl(14, 45%, 36%) ;
}
 table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  th, td {
    padding: 12px ;
    text-align: left;
    border-bottom: 2px solid hsl(30, 18%, 87%);
    border-radius: 25px;
    margin: auto;
   

  }
  .me{
    color: hsl(14, 45%,15);
  }
  .end{
    margin: auto;

  }
/*hr{
   color:hsl(30, 10%, 34%) ;
   padding: .3125rem,0rem;
}*/
  @media screen and (min-width:320px) and (max-width:374px)
   {
     .container{
        width: 100%;
     }  
      
  
  }
  @media screen and (min-width:375px) and (max-width:1440px){
 .container{
    width: 50%;
 }
  
    }
   /* @media   screen and (max-width: 600px) {
      body {
        background-color: lightblue;
      }
    }*/